﻿@model IEnumerable<VanNiksOpbouwenTest.Models.ContactModel>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Naam</th>
			<th>Leeftijd</th>
		</tr>
	</thead>
	<tbody>
		@if (Model == null)
		{
			<tr>
				<td colspan="3">Nog geen contacten</td>
			</tr>
		}
		else
		{
			foreach (var contact in Model)
			{
				<tr>
					<td>@contact.Id</td>
					<td>@contact.Naam</td>
					<td>@contact.Leeftijd</td>
				</tr>
			}
		}
	</tbody>
</table>