﻿@model Todo.DataAccess.TodoModel

En dit is de default view van de todoform. Wat magisch in 1 keer gaat werken. Ongetwijfeld.

@using (Html.BeginForm())
{
    <ul>
        <li>
            @Html.LabelFor(x => x.Task)
            @Html.EditorFor(x => x.Task)
			@Html.ValidationMessageFor(x => x.Task)
        </li>
        <li>
            @Html.LabelFor(x => x.DueDate)
            @Html.EditorFor(x => x.DueDate)
			@Html.ValidationMessageFor(x => x.DueDate)
        </li>
        <li>
            <button>Submit</button>
        </li>
    </ul>
}