﻿@model List<Todo.DataAccess.TodoModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>Todo-app 3</h1>
</div>

<div class="row">

    <div class="col-lg-6">
        <h2>Todos</h2>

		Injection: @Html.Raw(ViewData["bla"])

        <ul>
            @foreach(var item in Model)
            {
                <li>@item.Task</li>
            }
        </ul>
    </div>
    <div class="col-lg-5 col-lg-offset-1">
        <h2>Todo toevoegen</h2>

        <vc:todo-form></vc:todo-form>
    </div>
</div>